.content {
    margin: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#bookings {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 2em;
    box-shadow: 5px 7px 20px rgba(0, 0, 0, 0.11);
    border-radius: 15px;
    cursor: pointer;
    width: 20vw;
    position: relative;
    justify-content: space-between;

}

.images {
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    width: 20vw;
    height: 12vw;
    object-fit: cover;
    filter: saturate(120%);
}

#jobName {
    font-family: Montserrat regular;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #000;
    --padding-left: 10%;
    margin-left: 3vmin;
    --padding-top: 5%;
    margin-top: 2vmin;
    margin-bottom: 0%;
}

/*.grid-x {
    margin-left: auto;
}*/

.dates {
    width: 190px;
    height: 21px;
    font-family: Montserrat;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #b7b7b7;
    margin-left: 3vmin;
}

.subTitles {
    width: 190px;
    height: 21px;
    font-family: Montserrat light;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #b7b7b7;
    margin-left: 3vmin;
    margin-top: 1vmin;
    --margin-bottom: 0%;
}

.data {
    font-family: Montserrat regular;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #000;
    margin-left: 3vmin;
    margin-top: -1vmin;
}

.button {
    width: 20vw;
    height: 5vh;
    border-radius: 17px;
    margin-top: 2vmin;
    font-family: Montserrat medium;
}

#detailsButton {
    background: #f5f5f5;
    color: #7d7d7d;
}

#pickButton {
    background: #373dee;
}

/*@media screen and (max-width: 1920px) and (min-width: 1250px) {
    .card {
        width: 20vw;
        height: 50vh;
    }
}*/

/*@media(min-width: 1250px) {
    .card {
        width: 20vw;
        height: 50vh;
    }
}*/

/*@media screen and (min-width: 480px) and (max-width: 720px) {
    .card {
        width: 82vw;
        height: 55vh;
    }
    /*.data {
        margin-left: 2vmin;
    }

    .subTitles {
        margin-left: 2vmin;
    }*/
    /*.grid-x {
        margin-left: 2vmin;
    }
    #jobName {
        margin-left: 4vmin;
    }
}*/

/*@media (max-width: 768px) {
    .card {
        width: 45vw;
        height: 45vh;
    }
}

@media screen and (min-width: 360px) and (max-width: 480px) {
    .card {
        width: 75vw;
        height: 65vh;
    }
    .button {
        width: 20vw;
        height: 5vh;
    }
}*/